langchain==0.3.27
langgraph==0.6.0
langchain-community==0.3.27
langchain-cohere  
langchain-core 
tiktoken 
langchain-openai
langchain-google-genai
langchainhub 
tavily-python 
newsapi-python
yfinance
eventregistry
python-dotenv
datetime
seaborn
pandas
matplotlib
